.dndialog-overlay {
	background: #000;
}
.dndialog-wrapper {
	width: 600px;
	margin-left: -300px;
}
.dndialog-body {
    background: #fff;
    border: 1px solid #000;
    height: 100%;
}
.dndialog-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}
.dndialog-content {
    padding: 15px;
}
.dndialog-footer {
    padding: 15px;
    border-top: 1px solid #ddd;
}
.dndialog-body button {
    cursor: pointer;
    margin-right: 10px;
    color: #000;
    background: #ddd;
    text-align: center;
    padding: 6px 12px;
    border: 0;
}
.dndialog-body .dndialog-confirm-button {
    color: #fff;
    background: #000;
}
.dndialog-body button.dndialog-close-button {
    background: none;
    color: #000;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    border: 0;
    font-size: 24px;
    margin: 0;
}